<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aman.applocker">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:manageSpaceActivity=".utils.ManageSpaceActivity">
        <activity
            android:name=".utils.ManageSpaceActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".utils.AddPassActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".utils.LockActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".utils.MainActivity"
            android:launchMode="singleTask"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.MyService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_launcher_foreground"
            android:process="com.aman.appLocker" />

        <receiver
            android:name=".receiver.Restater"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.ServiceStopped" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.BootReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>